button {
  display: block;
  padding: 5px;
  width: 60%;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.link-container {
  text-align: center;
  margin-top: 20px;
}

.link-container a {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.link-container a:hover {
  text-decoration: underline;
  cursor: pointer;
}
